/* general */

h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

img {
  width: 100%;
}

.fa-star {
  color: #FFFFFF;
  font-size: 2rem;
  padding: 10px;
}

 .star .line {
  background-color: white;
  height: 4px;
  width: 13%;
  border-radius: 10px;
}

 .star {
  padding-bottom: 20px;
 }
/* debug */

/* [class^="container"], [class^="col"] {
  background-color: rgba(185, 231, 232,.4);
  border: 1px solid black;
  margin-bottom: 20px;
  min-height: 60px;
} */

/* container */

.lf-container{
  width: 70%;
  margin: 0 auto;
}

/* header */

header {
  background-color: #2C3D50;
  height: 87px;
}

.lf-navbar .navbar-brand {
  color: #FFFFFF;
  font-weight: bold;
}

.lf-navbar .nav-link {
  font-weight: bold;
}

.lf-navbar .navbar-toggler {
  border: 1px solid #c1bfbf;
  color: #FFFFFF;
}

/* jumbotron */

.jumbotron {
  background-color: #1ABC9C;
  height: 490px;
}

.jumbotron img {
  width: 235px;
}

.jumbotron h1 {
  text-transform: uppercase;
  padding-top: 1.3rem;
  font-weight: bolder;
  color: #FFFFFF;
}

.jumbotron h4 {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 1.3rem;
  padding-top: 10px;
}



/* portfolio */

#portfolio {
  padding-top: 50px;
}

#portfolio .fa-star {
  color: black;
}

#portfolio .star .line {
  background-color: black;

}

#portfolio img {
  border-radius: 10px;
}

.lf-portfolio .col {
  padding-bottom: 30px;
}

/* about */

main section#about {
  background-color: #1ABC9D;
  padding-top: 50px;
  padding-bottom: 30px;
  color: #FFFFFF;
}

#about p {
  font-size: 1.2rem;
  text-align: left;
}

#about .btn i {
  padding-right: 5px;
}


/* footer */

footer .top {
  background-color: #3B546E;
}

footer .bottom {
  background-color: #2C3D50;
}