/* general */

h3 {
  text-align: center;
  text-transform: uppercase;
}


/* debug */

/* [class^="container"], [class^="col"] {
  background-color: rgba(185, 231, 232,.4);
  border: 1px solid black;
  margin-bottom: 20px;
  min-height: 60px;
} */

/* container */

.lf-container{
  width: 70%;
  margin: 0 auto;
}

/* header */

header {
  background-color: #2C3D50;
  height: 87px;
}

.lf-navbar .navbar-brand {
  color: #FFFFFF;
  font-weight: bold;
}

.lf-navbar .nav-link {
  font-weight: bold;
}

.lf-navbar .navbar-toggler {
  border: 1px solid #c1bfbf;
  color: #FFFFFF;
}



/* jumbotron */

.jumbotron {
  background-color: #1ABC9C;
  height: 490px;
}

.jumbotron .box {
  width: 60%;
  height: 300px;
  background-color: #3B546E;
  margin: 0 auto;
  color: white;
}

/* portfolio */



/* about */

main section#about {
  background-color: #1ABC9D;
}




/* footer */

footer .top {
  background-color: #3B546E;
}

footer .bottom {
  background-color: #2C3D50;
}